body{
    font-family: "PT Mono";
}

h1, h2{
    position: absolute;
    left: 5%;
}

hr{
     width: 75%;
     margin-left: 0px;
}

a.grey{
    color: #919191;
}

.topright{
    position: absolute;
    top-margin: 3%;
    right: 5%;
    text-align: right;
    display: inline-block;
}

.left{
    margin-top: 6%;
    margin-left: 3%;
    float: left;
    width: 45%;
}

.right{
    margin-top: 6%;
    margin-right: 3%;
    float: right;
    width: 45%;
}

.posts{
    overflow: auto;
    height: 75%;
}

.search{
    text-align: center;
}

.watermark{
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
}

.centered{
    margin-top: 15%;
    width: 100%;
    text-align: center;
}

.textpost{
    width: 60%;
    height: 70%;
    resize: none;
}

.textpostcenter{
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.rightalign{
    margin-left: 0;
    margin-top: 0%;
    text-align: right;
    width:45%;
    line-height: 150%;
}

.leftalign{
    margin-top: 0%;
    text-align: left;
    width:45%;
}

.smallP{
    margin-right: 15%;
}

.shortenedTextbox{
    width: 30%;
}

.postPage{
    margin-top: 9%;
    margin-left: 30%;
    margin-right: 30%;
}